* {
  font-family: Avenir;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  list-style: none;
}

li {
  list-style: none;
}

nav.page {
  overflow-y: hidden;
}

#energy {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  opacity: 0;
  z-index: -10;
}

#energy:target {
  opacity: 1;
  z-index: 10;
}

nav.page li {
  display: inline-block;
  width: 20%;
}

nav.page li {
  float: left;
}

nav.page img {
  display: block;
  width: 100%;
}

html, 
body {
  width: 100%;
  height: 100%;
}

#map {
  height: 720px;
  max-height: 80vh;
}

header.page {
  font-weight: 800;
  color: white;
  background-color: #FCC30B;
}

figure {
  height: 500px;
  /*background-image: url(tweedekamer-achtergrond.jpg);*/
  background-size: cover;
}

article {
  max-width: 64em;
  overflow: hidden;
  margin: 0 auto;
}

article img {
  float: left;
  max-width: 20em;
  margin: 0 5em 0 0;
}

iframe {
  width: 90%;
  height: 500px;
  outline: 0;
  padding: 2.5%;
  border: none;
}

header.page h1 {
  font-size: calc(1em + 3vmin);
}

p {
  margin: 1em 0;
  padding: 0 2.5%;
}

header.page a {
  float: right;
  padding: 0.625em 1em 0.75em;
  margin: 0.25em 0 0;
  text-decoration: none;
  border: 2px solid white;
  color: white;
}

.page {
  padding: 2.5% 2.5% 3%;
}